<div class="row">
    <div class="col-xs-12 home-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-1a">
        <h1 class="h1-1">Earth</h1>
    </div>
</div>
<div class="row">
    <div class='col-xs-12 home-2'>

    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-2a">
        <h1 class="h1-2">The Only Home We Know</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-3a">
        <h1 class="h1-3">With A Population Of {{population.toFixed(0) | number}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-4annex">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-3a">
        <h1 class="h1-3">On It, Everyone Who Has Ever Lived In Peace</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-4">

    </div>
</div>
<div class='row'>
    <div class='col-xs-12 home-4a'>
        <h1 class="h1-4">And Died In War</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-5">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-5a">
        <h1 class="h1-5">Our Entire History In One Place</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 home-6">

    </div>
</div>