<div class="row">
    <div class="col-xs-12 banner-start">
        <h1 class="h1-region">Asia</h1>
        <p class="p-region">Asia is the Earth's largest and most populous continent, located primarily in the eastern and northern hemispheres. Though it covers only 8.7% of the Earth's total surface area, it comprises 30% of Earth's land area, and has historically been home to the bulk of the planet's human population (currently roughly 60%). Asia is notable for not only overall large size and population, but unusually dense and large settlements as well as vast barely populated regions within the continent of 4.4 billion people. Asia has exhibited economic dynamism (particularly East Asia) as well as robust population growth during the 20th century, but overall population growth has since fallen to world average levels.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 asia-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Asia</h1>
        <p class="p-region">The boundaries of Asia are traditionally determined as that of Eurasia which is not Europe, as there is no clear geographical separation between them, and Asia is in itself originally a European definition. The most commonly accepted boundaries place Asia to the east of the Suez Canal, the Ural River, and the Ural Mountains, and south of the Caucasus Mountains and the Caspian and Black Seas. It is bounded on the east by the Pacific Ocean, on the south by the Indian Ocean and on the north by the Arctic Ocean.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 asia-2">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Asia</h1>
        <p class="p-region">Given its size and diversity, the concept of Asia—a name dating back to classical antiquity—may actually have more to do with human geography than physical geography. Asia varies greatly across and within its regions with regard to ethnic groups, cultures, environments, economics, historical ties and government systems. It also has a mix of many different climates ranging from the equatorial south via the hot desert in the Middle East, temperate areas in the east and the extremely continental centre to vast subarctic and polar areas in Siberia.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 asia-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Asia</h1>
        <p class="p-region">From the time of Herodotus a minority of geographers have rejected the three-continent system (Europe, Africa, Asia) on the grounds that there is no or is no substantial physical separation between them. For example, Sir Barry Cunliffe, the emeritus professor of European archeology at Oxford, argues that Europe has been geographically and culturally merely "the western excrescence of the continent of Asia". Geographically, Asia is the major eastern constituent of the continent of Eurasia with Europe being a northwestern peninsula of the landmass – or of Afro-Eurasia; geologically, Asia, Europe and Africa make up a single continuous landmass (except for the Suez Canal) and share a common continental shelf. Almost all of Europe and the better part of Asia sit atop the Eurasian Plate, adjoined on the south by the Arabian and Indian Plate and with the easternmost part of Siberia on the North American Plate.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 asia-4">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner-start">
        <h1 class="h1-region">Africa</h1>
        <p class="p-region">Africa is the world's second-largest and second-most-populous continent. At about 30.2 million km2 (11.7 million sq mi) including adjacent islands, it covers six percent of Earth's total surface area and 20.4 percent of its total land area. With 1.1 billion people as of 2013, it accounts for about 15% of the world's human population. The continent is surrounded by the Mediterranean Sea to the north, both the Suez Canal and the Red Sea along the Sinai Peninsula to the northeast, the Indian Ocean to the southeast, and the Atlantic Ocean to the west. The continent includes Madagascar and various archipelagos. It has 54 fully recognized sovereign states (or countries), nine territories and two de facto independent states with limited or no recognition.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 africa-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Africa</h1>
        <p class="p-region">Africa's population is the youngest amongst all the continents; 50% of Africans were born in 1991 or later Algeria is Africa's largest country by area, and Nigeria by population. Africa, particularly central Eastern Africa, is widely accepted as the place of origin of humans and the Hominidae clade (great apes), as evidenced by the discovery of the earliest hominids and their ancestors, as well as later ones that have been dated to around seven million years ago, including Sahelanthropus tchadensis, Australopithecus africanus, A. afarensis, Homo erectus, H. habilis and H. ergaster – with the earliest Homo sapiens (modern human) found in Ethiopia being dated to circa 200,000 years ago. Africa straddles the equator and encompasses numerous climate areas; it is the only continent to stretch from the northern temperate to southern temperate zones.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 africa-2">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Africa</h1>
        <p class="p-region">Afri was a Latin name used to refer to the inhabitants of Africa, which in its widest sense referred to all lands south of the Mediterranean (Ancient Libya). This name seems to have originally referred to a native Libyan tribe; see Terence#Biography for discussion. The name is usually connected with Hebrew ʿafar "dust", but a 1981 hypothesis has asserted that it stems from the Berber ifri (plural ifran) "cave", in reference to cave dwellers. The same word may be found in the name of the Banu Ifran from Algeria and Tripolitania, a Berber tribe originally from Yafran (also known as Ifrane) in northwestern Libya.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 africa-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Africa</h1>
        <p class="p-region">Africa is considered by most paleoanthropologists to be the oldest inhabited territory on Earth, with the human species originating from the continent. During the middle of the 20th century, anthropologists discovered many fossils and evidence of human occupation perhaps as early as 7 million years ago. Fossil remains of several species of early apelike humans thought to have evolved into modern man, such as Australopithecus afarensis (radiometrically dated to approximately 3.9–3.0 million years BC),[19] Paranthropus boisei (c. 2.3–1.4 million years BC) and Homo ergaster (c. 1.9 million–600,000 years BC) have been discovered.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 africa-4">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner-start">
        <h1 class="h1-region">Europe</h1>
        <p class="p-region">Europe is a continent that comprises the westernmost part of Eurasia. Europe is bordered by the Arctic Ocean to the north, the Atlantic Ocean to the west, and the Mediterranean Sea to the south. To the east and southeast, Europe is generally considered as separated from Asia by the watershed divides of the Ural and Caucasus Mountains, the Ural River, the Caspian and Black Seas, and the waterways of the Turkish Straits. Yet the borders of Europe—a concept dating back to classical antiquity—are arbitrary, as the primarily physiographic term "continent" also incorporates cultural and political elements.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 europe-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Europe</h1>
        <p class="p-region">Europe is the world's second-smallest continent by surface area, covering about 10,180,000 square kilometres (3,930,000 sq mi) or 2% of the Earth's surface and about 6.8% of its land area. Of Europe's approximately 50 countries, Russia is by far the largest by both area and population, taking up 40% of the continent (although the country has territory in both Europe and Asia), while Vatican City is the smallest. Europe is the third-most populous continent after Asia and Africa, with a population of 739–743 million or about 11% of the world's population. Europe has a climate heavily affected by warm Atlantic currents, tempering winters and enabling warm summers on most of the continent, even on latitudes that have severe climates in North America and Asia. Further from the Atlantic, seasonal differences increase, but the mildness of the climate remains.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 europe-2">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Europe</h1>
        <p class="p-region">Europe, in particular ancient Greece, is the birthplace of Western culture. The fall of the Western Roman Empire, during the migration period, marked the end of ancient history and the beginning of an era known as the "middle ages". The Renaissance humanism, exploration, art, and science led the "old continent", and eventually the rest of the world, to the modern era. From this period onwards, Europe played a predominant role in global affairs. Between the 16th and 20th centuries, European nations controlled at various times the Americas, most of Africa, Oceania, and the majority of Asia.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 europe-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">Europe</h1>
        <p class="p-region">The Industrial Revolution, which began in Great Britain around the end of the 18th century, gave rise to radical economic, cultural, and social change in Western Europe, and eventually the wider world. Demographic growth meant that, by 1900, Europe's share of the world's population was 25%. Both world wars were largely focused upon Europe, greatly contributing to a decline in Western European dominance in world affairs by the mid-20th century as the United States and Soviet Union took prominence. During the Cold War, Europe was divided along the Iron Curtain between NATO in the west and the Warsaw Pact in the east, until the revolutions of 1989 and fall of the Berlin Wall.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 europe-4">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner-start">
        <h1 class="h1-region">North America</h1>
        <p class="p-region">North America is a continent entirely within the Northern Hemisphere and almost all within the Western Hemisphere. It can also be considered a northern subcontinent of the Americas. It is bordered to the north by the Arctic Ocean, to the east by the Atlantic Ocean, to the west and south by the Pacific Ocean, and to the southeast by South America and the Caribbean Sea. North America covers an area of about 24,709,000 square kilometers (9,540,000 square miles), about 16.5% of the earth's land area and about 4.8% of its total surface. North America is the third largest continent by area, following Asia and Africa, and the fourth by population after Asia, Africa, and Europe. In 2013, its population was estimated at nearly 565 million people in 23 independent states, or about 7.5% of the world's population, if nearby islands (most notably the Caribbean) are included.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 north-america-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">North America</h1>
        <p class="p-region">North America was reached by its first human populations during the last glacial period, via crossing the Bering land bridge. The so-called Paleo-Indian period is taken to have lasted until about 10,000 years ago (the beginning of the Archaic or Meso-Indian period). The Classic stage spans roughly the 6th to 13th centuries. The Pre-Columbian era ended with the arrival of European settlers during the Age of Discovery and the Early Modern period. Present-day cultural and ethnic patterns reflect different kind of interactions between European colonists, indigenous peoples, African slaves and their descendants. European influences are strongest in the northern parts of the continent while indigenous and African influences are relatively stronger in the south. Because of the history of colonialism, most North Americans speak English, Spanish or French and societies and states commonly reflect Western traditions.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 north-america-2">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">North America</h1>
        <p class="p-region">The Americas are usually accepted as having been named after the Italian explorer Amerigo Vespucci by the German cartographers Martin Waldseemüller and Matthias Ringmann. Vespucci, who explored South America between 1497 and 1502, was the first European to suggest that the Americas were not the East Indies, but a different landmass previously unknown by Europeans. In 1507, Waldseemüller produced a world map, in which he placed the word "America" on the continent of South America, in the middle of what is today Brazil.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 north-america-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">North America</h1>
        <p class="p-region">The term North America maintains various definitions in accordance with location and context. In Canadian English, North America may be used to refer to the United States and Canada together. Alternatively, usage sometimes includes Greenland and Mexico (as in the North American Free Trade Agreement), as well as offshore islands. The UN geoscheme for "North America" separates Mexico from the United States and Canada, placing it instead within its designated "Central America" region, while also treating the islands of the Caribbean separately from the US/Canada definition — the UN's "North America" definition still includes the Canadian Arctic Archipelago and Greenland together with the US/Canada continental definition, with both insular entities being tectonically on the North American plate.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 north-america-4">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner-start">
        <h1 class="h1-region">South America</h1>
        <p class="p-region">South America is a continent located in the Western Hemisphere, mostly in the Southern Hemisphere, with a relatively small portion in the Northern Hemisphere. It is also considered as a subcontinent of the Americas, which is the model used in Spanish-speaking nations and most of South America. It is bordered on the west by the Pacific Ocean and on the north and east by the Atlantic Ocean; North America and the Caribbean Sea lie to the northwest. It includes twelve sovereign states – Argentina, Bolivia, Brazil, Chile, Colombia, Ecuador, Guyana, Paraguay, Peru, Suriname, Uruguay, and Venezuela – and two non-sovereign areas – French Guiana, an overseas department of France, and the Falkland Islands, a British Overseas Territory (though disputed by Argentina). In addition to this, the ABC islands of the Netherlands and Trinidad and Tobago may also be considered part of South America.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 south-america-1">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">South America</h1>
        <p class="p-region">South America has an area of 17,840,000 square kilometers (6,890,000 sq mi). Its population as of 2005 has been estimated at more than 371,090,000. South America ranks fourth in area (after Asia, Africa, and North America) and fifth in population (after Asia, Africa, Europe, and North America). The most populous countries are Brazil, Colombia, Argentina, Venezuela and Peru. Most of the population lives near the continent's western or eastern coasts while the interior and the far south are sparsely populated. The geography of western South America is dominated by the Andes mountains; in contrast, the eastern part contains both highland regions and large lowlands where rivers such as the Amazon, Orinoco, and Paraná flow. Most of the continent lies in the tropics.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 south-america-2">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">South America</h1>
        <p class="p-region">South America occupies the southern portion of the Americas. The continent is generally delimited on the northwest by the Darién watershed along the Colombia–Panama border, although some may consider the border instead to be the Panama Canal. Geopolitically and geographically all of Panama – including the segment east of the Panama Canal in the isthmus – is typically included in North America alone and among the countries of Central America. Almost all of mainland South America sits on the South American Plate.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 south-america-3">

    </div>
</div>
<div class="row">
    <div class="col-xs-12 banner">
        <h1 class="h1-region">South America</h1>
        <p class="p-region">South America is believed to have been joined with Africa from the late Paleozoic Era to the early Mesozoic Era, until the supercontinent Pangaea began to rift and break apart about 225 million years ago. Therefore, South America and Africa share similar fossils and rock layers. South America is thought to have been first inhabited by humans when people were crossing the Bering Land Bridge (now the Bering Strait) at least 15,000 years ago from the territory that is present-day Russia. They migrated south through North America, and eventually reached South America through the Isthmus of Panama.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 south-america-4">

    </div>
</div>